*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
p{
    color: black;
    margin: 0px;
}

/* Sub header Start */

.sub-header{
    padding: 10px 0px;
    background-color: black !important;
}
.sub-header .icon-div .icon .fa-facebook{
    margin: 0 5px;
    padding: 10px 12px;
    border-radius: 20px;
    background-color: white;
    color: red;
    transition: all ease-in-out 0.3s;
}
.sub-header .icon-div .icon .fa-facebook:hover{
    background-color: #1877f2;
    color: white;
}
.sub-header .icon-div .icon .fa-instagram{
    margin: 0 5px;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    color: red;
    transition: all ease-in-out 0.3s;
}
.sub-header .icon-div .icon .fa-instagram:hover{
    background-image: radial-gradient(#5e4fcc, #d42b86, #f8b860);
    color: white;
}
.sub-header .icon-div .icon .fa-google{
    margin: 0 5px;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    color: red;
    transition: all ease-in-out 0.3s;
}
.sub-header .icon-div .icon .fa-google:hover{
    background-color: white;
    color: #4285f4;
}

/* Sub header End */

.hr{
    margin: 0;
}

/* Banner Slide Start */

.banner .carousel .carousel-item img{
    width: 100%;
    height: 550px;
}
.banner .carousel .carousel-indicators button{
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: white;
    border: 2px solid red;
}
.banner .carousel .carousel-indicators .active{
    background-color: red;
    border: 2px solid white;
}

/* Banner Slide End */

/* Navbar Start */

.bg{
    background-color: black;
}
.nav-item .nav-link{
    transition: all ease-in-out 0.3s;
    color: white !important;
}
.nav-item .nav-link:hover{
    color: red !important;
    border-bottom: 1px solid red;
}
.nav-item .active{
    color: red !important;
    border-bottom: 1px solid red;
}
.dropdown-menu{
    background-color: black;
}
.dropdown-menu .dropdown-item{
    transition: all ease-in-out 0.3s;
    color: red;
    /* border-bottom: 1px solid white; */
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.dropdown-menu .dropdown-item:hover{
    color: white;
    /* background-color: red; */
    background-image: radial-gradient(red, black);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.dropdown-item.active, .dropdown-item:active{
    color: white !important;
    background-image: radial-gradient(red, black);
}
.border-right{
    border-right: 1px solid white;
}

/* Navbar End */

/* Index Center Content Start */

.movie .heading{
    padding: 10px 0 10px 10px;
    border-left: 5px solid red;
    background-color: rgb(245, 244, 244);
}
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 320px !important;
    perspective: 1000px;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.flip-card:hover .flip-card-inner {
    transform: rotatey(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.flip-card-front {
    background-color: #bbb;
    color: black;
}
  
.flip-card-back {
    height: 320px;
    padding: 10px 0 !important;
    background-image: radial-gradient(red, black);
    color: white;
    transform: rotateY(180deg);
}
.movie-text{
      text-decoration: none;
      color: black;
      transition: all ease-in-out 0.3s;
}
.movie-text:hover{
      text-decoration: underline;
      color: red;
}

/* Index Center Content End */

/* Movie Center Content */

.movie-heading{
    color: red;
}
.rate-text{
    padding: 2px;
    color: black;
    background-color: #dca827;
}
.rate-no{
    padding: 2px;
    color: white;
    background-color: black;
}

/* Movie Center Content End */

/* Footer Start */

footer{
    padding: 20px 0;
    background-color: black;
    background-image: radial-gradient(red, black);
}
footer p{
    margin: 0px;
    padding: 0px;
    color: white;
}

/* Footer End */